* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar {
    display:flex;
}

.navlink {
    list-style: none;
    background-color: lightcyan;
    display:flex;
    justify-content:flex-end;
    
}